include ./includes/header-mobile.html
include ./includes/styles.html
include ./includes/styles-mobile.html

//- include ./content/navbar.html 
include ./content/main.html 

include ./includes/scripts.html
include ./includes/footer.html